


.chevron{   
margin-left:40px;
padding:10px;
height: 40px;
background: #5cb85c;
color: #fff;
font-size: 18px;
border-radius: 2px; margin-left:30%; }

.chevrond{   
margin-left:40px;
padding:10px;
height: 40px;
background: #5db95dc0;
color: #fff;
font-size: 18px;
border-radius: 2px; margin-left:30%;
cursor:default; }

.chevron:hover {
cursor: pointer;
color: #fff;
background: #3f7e3f;
}

.form-control:focus {
border-color: #3f7e3f;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 206, 23, 0.6);
}








